@import url(https://fonts.google.com/specimen/Red+Hat+Display);

body {
  margin: 0;
  font-family: "Red Hat Display", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
    font-weight: 500, 700, 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

